<html>
    <title>TOOLS KONEKT APP
    </title>
            <img src="" class="logo">
    <link rel="stylesheet" href="">
    <i class="fi fi-ss-wrench-simple"></i>
    
    <body>
       <div class="banner">
        <div class="navbar">
            <img src="" class="logo">

            <ul>
                <li><a href="#"><strong>HOME</strong></a></li>
                <li><a href="#"><strong>REQUEST</strong></a></li>
                <li><a href="#"><strong>REGISTER</strong></a></li>
                <li><a href="#"><strong>LOGIN</strong></a></li>
            </ul> 

            <div class="card">

            </div>


            



            


    



            
        </div>

       </div> 
   